.autocomplete {
	position: relative;
}

.autocomplete .dropdown {
	position: absolute;
	background: #fff;
	color: #000;
	padding: 10px;
	z-index: 10000;
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.autocomplete .dropdown .option {
	cursor: pointer;
	padding: 2px 10px;
}

.autocomplete .dropdown .option:hover {
	background-color: #007bff;
	color: #fff;
}
