:root {
    --default-padding: 10px;
    --top-menu-height: 50px;
    --default-margin-top: 60px; /* sum of default padding and height of top menu */
}

body {
  margin-top: var(--default-margin-top);
}

.spaced {
  padding-top: var(--default-padding);
}

.form-validation {
  display: none;
  color: red;
  margin-top: var(--default-padding);
}

.form-buttons button,
.form-buttons a {
  margin-left: var(--default-padding);
  margin-right: var(--default-padding);
}

.form-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-inline .form-control,
.form-inline .form-field {
  display: inline-block;
}

.form-inline .form-field {
  display: inline-block;
  margin-left: var(--default-padding);
}

.form-inline .form-buttons {
  display: inline-block;
  text-align: left;
}

.form-inline .control-label {
  display: inline-block;
  margin-left: var(--default-padding);
}

.form-field {
  text-align: left;
}

.form-field .form-control-checkbox {
  width: auto;
  margin: 0;
}

.navbar-right {
  margin-right: 0;
}

.ajax-loader {
  opacity: 0;
  display: inline-block;
  margin: auto;
  background-image: url('ajax-loader.gif');
  width: 31px;
  height: 31px;
}

.htmlarea {
  height: 450px;
  width: 100%;
  display: block;
}

.jHtmlArea .h1,
.jHtmlArea .h2,
.jHtmlArea .h3,
.jHtmlArea .h4,
.jHtmlArea .h5,
.jHtmlArea .h6 {
  margin: 0;
}
