.form-validation {
    display: none;
    color: red;
    margin-top: 10px;
}

.bot-protection {
    display: none;
}

.form-inline input,
.form-inline label {
    margin-right: 10px;
}

textarea.wysiwyg,
.tox-tinymce {
    width: 100%;
}

#article_text_form_group textarea.wysiwyg,
article_text_form_group .tox-tinymce {
    height: 450px;
}

form .form-field button {
	text-transform: none;
	text-decoration: none;

}
